.article h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }


.article h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; line-height: 48px; margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: uppercase; }


.article p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin:0px 5px 25px 10px;}


.article a { color: #990000; text-decoration: none; }


.article a:hover { text-decoration: underline }


.article .date { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; position: relative; text-align: center; z-index: 1; }


.article .date:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.article .author { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-bottom: 20px; position: relative; text-align: center; z-index: 1; }


.article .author:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.article .date span,

.article .author span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }


.article .line { border-top: 1px solid #111; display: block; margin-top: 60px; padding-top: 50px; position: relative; }

.article .dash-line { border-top: 1px dotted #111; display: block; margin-top: 60px; padding-top: 50px; position: relative; }


.article .read-more { -moz-border-radius: 50%; -moz-transition: all 0.2s ease-in-out; -webkit-border-radius: 50%; -webkit-transition: all 0.2s ease-in-out; background: #111; border-radius: 50%; border: 10px solid #fdfdfd; color: #fff; display: block; font-family: 'Open Sans', sans-serif; font-size: 14px; height: 80px; line-height: 80px; margin: -40px 0 0 -40px; position: absolute; bottom: 0px; left: 50%; text-align: center; text-transform: uppercase; width: 80px; }


.article .read-more:hover { background: #990000; text-decoration: none; }

.article .sketchy {
    padding: 2rem 2rem;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;

    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

.article .art-deco {
    border: 15px solid transparent; /* invisible space */
    outline: 4px solid #cdcdcd;
    outline-offset: -10px; /* first box */
    background: linear-gradient(#cdcdcd 0 0) top,
         linear-gradient(#cdcdcd 0 0) left, linear-gradient(#cdcdcd 0 0) bottom,
         linear-gradient(#cdcdcd 0 0) right;
    background-size: 200% 4px, 4px 200%; /* second box */
    background-origin: padding-box;
    background-repeat: no-repeat;
    padding: 0px 10px 0px 10px;
}

.article .partial-border {
    padding: 10px 10px 10px 10px;
    background:
      linear-gradient(black, black) bottom left / 150px 2px,
      linear-gradient(black, black) bottom left / 2px 100px,
      linear-gradient(black, black) top right / 150px 2px,
      linear-gradient(black, black) top right / 2px 100px;
    background-repeat: no-repeat;
}