<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  margin-right: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.content {
  padding: 10px;
  margin-top: 1em ;
  text-align: center;
  display: block;
}
</style>
</head>


<body>
<div class="container-fluid" style="display: flex;">
  <div class="card" >
    <img src="/img/others/Poster_INTO-George-Mason-University-logo.png" alt="Avatar" style="width:100%">
    <div class="content">
      <h4><b>Computer Science Pathwway</b></h4> 
      <p>Graduate Pathway Program in Computer and Information Sciences</p> 
      <a href="https://www.gmu.edu/academics/into-mason" class="project-link"><button class="btn btn-default btn">Visit Website</button></a>
    </div>
  </div>
  <div class="card" >
    <img src="/img/others/national-taiwan-university.png" alt="Avatar" style="width:100%">
    <div class="content">
      <h4><b>Information Management</b></h4> 
      <p>Bachelor of Business Administration in Information Management</p> 
      <a href="https://management.ntu.edu.tw/en/IM" class="project-link"><button class="btn btn-default btn">Visit Website</button></a>
    </div>
  </div>
</div>
</body>