<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/css/card.css" | prepend: site.baseurl }}">
</head>

<section>
    <div class="row no-gutters">

      <div class="col-12 col-sm-6 col-lg-3">
            <div class="flipper">
              <div class="flipper-card">
                <div class="flipper-front"><img src="/img/others/Poster_INTO-George-Mason-University-logo.png"></div>
                <div class="flipper-back"><a href="https://www.gmu.edu/academics/into-mason">INTO-George Mason University</a></div>
              </div>
            </div>
      </div>

      <div class="col-12 col-sm-6">

        <div class="flipper ratio-not-1-1">
          <div class="flipper-card">
            <div class="flipper-front"><img src="/img/others/ntu-tranparent.png"></div>
            <div class="flipper-back"><a href="https://management.ntu.edu.tw/en/IM">National Taiwan University Information Management</a></div>
          </div>
        </div>

      </div>
    </div>
</section>